@import url('https://fonts.google.com/specimen/Playwrite+RO?family=Lato');

:root {
  --accent-color-var: orange;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Playwrite RO", cursive;
  background-color: rgb(240, 240, 240);
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
/* obligatory comment */

h1, h2 {
  color: hsla(190, 70%, 40%, 0.9);
}

h1 {
  text-align: center;
  font-size: 24pt;
}

h2 {
  color: #1A9933;
}

p.target-class {
  color: var(--accent-color-var, black);
  margin: 1em 1em 1em 1em;
}

strong {
  color: red;
}

a {
  text-decoration: none;
  color: hsl(220, 80%, 55%);
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

a:hover {
  color: #FF5733;
  transition: all 0.3s ease-in-out;
}

button:active {
  background-color: black;
}

#agenda {
  padding-top: 1cm;
  padding-right: 1cm;
  padding-bottom: 1cm;
  padding-left: 1cm;
}

.target-class {
  border: 2px solid #FFFFFF;
}

header {
  background-color: rgba(100, 150, 200, 0.5);
  position: sticky;
  top: 0;
}

#labs span a {
  display: block;
}

nav ul li {
  display: inline-block;
}
/* another comment */
img {
  width: 50%;
  height: auto;
  max-width: 300px;
  min-width: 100px;
}

section {
  position: relative;
  border-radius: 15px;
}

.flex-container {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.grid-container {
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.grid-container li:first-child {
  grid-column-start: 1;
}

@media (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

main section {
  border-top: 1px solid #CCC;
}

section > h2 {
  margin-top: 0;
}
/* more ocmmnts */
h2 + p {
  font-weight: bold;
}

hr ~ footer {
  border-top: 3px solid black;
}

input[type="date"] {
  border: 1px dashed blue;
}

section:has(img) {
  background: #eee;
}

footer {
  color: #FFF;
  background-color: #262626;
  padding: 1rem 1rem 1rem 1rem;
}

footer form {
  border: 1px solid white;
}

.main-content {
  margin: auto;
  width: 90%;
  max-width: 1000px;
}
/* last comment */